
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// @import 'variables';
@import 'mixins';


html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin:  0 auto;
  padding-left: $gutterGap;
  padding-right: $gutterGap;
  @media screen and (min-width: $sm) {
    max-width: 540px;
  }
  @media screen and (min-width: $md) {
    max-width: 720px;
  }
  @media screen and (min-width: $lg) {
    max-width: 960px;
  }
  @media screen and (min-width: $xl) {
    max-width: 1170px;
  }
}

h1, .h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6, p {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
} 

span.title-color {
  color: $primaryColor;
}

a.custom-btn {
  width: auto;
  display: inline-block;
  text-decoration: none;
  background: $btnBgColor;
  padding: 14px 26px;
  color: $white;
  font-family: $fontFamily;
  font-size: $small;
  font-weight: $fontRegular;
  box-shadow: 6px 6px 0 $btnShodowColor;
  transition: 0.5s ease all;
  @include responsive('small') {
    padding: 10px 16px;
    font-size: $small - 2;
  }
}

a.custom-btn:hover {
  background-color: $btnShodowColor;
  box-shadow: 6px 6px 0 $btnHoverShodowColor;
  color: $white;
}

p.paragraph {
  font-size: $small;
  font-family: $fontFamily;
  font-weight: $fontLight;
  color: $secondaryColor;
  @include responsive('large') {
    font-size: $small - 2;
  }
}

h4.sub-heading {
  font-size: $small + 2;
  font-family: $fontFamily;
  font-weight: $fontBlod;
  @include responsive('large') {
    font-size: $small;
  }

}

h2.section-heading {  
  font-size: $large;
  font-family: $fontFamily;
  font-weight: $fontBlod;
  @include responsive('large') {
    font-size: $medium + 4;
    margin-bottom: 5px;
  } 
  @include responsive('medium') { 
    font-size: $medium;
  }
  @include responsive('small') {
    font-size: $regular - 4 ;
  }
}