// here theme color variables
$primaryColor: #12a4a7;
$secondaryColor: #999999;
$black: #000000;
$white: #ffffff;
$btnColor: #000000;
$btnBgColor: #12a4a7;
$btnShodowColor: #393939;
$btnHoverShodowColor: #D9D9D9;
$gradientColorTop: #90BDBE;
$gradientColorBottom: #435758;
$boxShodowColor: #DDDDDD;
$footerBgColor: #D9D9D9;

// Here Font Family and font waight variables
$fontFamily: "Montserrat";
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBlod: 600;
$fontExtraBlod: 700;
$fontBlack: 800;    

// Here font size variables
$large: 46px;
$medium: 32px;
$regular: 24px;
$small: 18px; 

$gutterGap: 15px;

// media break points

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;


